@layer reset {

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}



.login {
    display: grid;
    place-content: center;
    min-height: 100dvh;
}

@layer form {
    .container {
        background-color: white;
        /* border: 1px solid #00933f; */
        backdrop-filter: red;

        position: relative;

        width: min(380px, 95vw);
        height: 490px;

        padding: 5px;
        border-radius: 2rem;
        overflow: clip;
        box-shadow: 0 0px 14px #00933f, 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .container__buttons {
        background-color: red;
        box-shadow: red;

        position: relative;

        display: flex;

        width: 220px;

        margin: 35px auto;
        border-radius: 30px;
    }

    .container__btn-highlight {
        background: green;

        position: absolute;
        inset: 0;

        width: 110px;
        height: 100%;
        border-radius: 30px;

        transition: 0.5s;
    }

    .container__toggle-btn {
        background: transparent;
        color: green;

        padding: 10px 30px;
        width: 100%;
        cursor: pointer;
        border: 0;
        outline: none;
        font-size: 14px;
        text-transform: capitalize;

        z-index: 99;
        transition: 0.3s ease;

        &:focus-visible {
            border-radius: 30px;
            box-shadow: inset 0 0 0 1px green;
        }
    }

    .img-login {
        display: grid;
        justify-content: center;
        margin-top: 42px;
    }

    .logo-login {
        width: 257px;
    }


    .form {
        padding-inline: clamp(1rem, 5vw, 2.5rem);
        position: absolute;
        left: 0;
        width: 100%;
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }

    .form__input {
        width: 100%;
        padding: 10px 0;
        margin-bottom: 20px;
        border: 0;
        border-bottom: 1px solid #00933f;
        outline: none;
        background: transparent;
        font-size: 1rem;
        color: #0087cd;

        &::placeholder {
            color: var(--clr-input-placeholder);
        }
    }

    .form__submit-btn {
        box-shadow: red;
        width: 80%;
        padding: 10px 30px;
        font-size: 14px;
        cursor: pointer;
        display: block;
        margin: auto;
        color: #ffffff;
        background: #00933f;
        border: 0;
        outline: none;
        border-radius: 30px;
        border: 2px solid transparent;
        transition: 0.3s ease;
        text-transform: capitalize;
    }

    .form__submit-btn:hover {
        background-color: #0087cd;
        color: #ffffff;
    }

    .form__options {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 20px 0;
    }

    .form__terms {
        color: #00933f;
        font-size: 14px;
        display: inline-block;
    }

    #login {
        transform: translateX(0%);
        top: 190px;
    }

    #register {
        transform: translateX(100%);
        top: 165px;
    }

    .form__terms-link {
        color: var(--clr-terms-link);
        font-size: 14px;
    }
}

@layer utilities {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}